<div data-ng-controller="WidgetFinishCtrlEdit">
	<div class="widget_area">
	<widget-fieldset>
		<input type="text" class="wfield wfield__text widget_title" data-ng-model="edit.widget.fields.title" data-ng-change="edit.autoSave()" data-widget-field-autofocus data-field-autocomplete />
	</widget-fieldset>
	<widget-fieldset>
		<textarea class="wfield wfield__textarea" data-ng-model="edit.widget.fields.text" data-ng-change="edit.autoSave()" data-field-autocomplete></textarea>
	</widget-fieldset>
	</div>
</div>
