<div class="widget_preview" data-ng-controller="WidgetShootingCtrl">
	<div class="widget_area">
		<div class="widget_title" data-ng-bind-html-unsafe="widget.fields.title|parseTextField:widget.attach"></div>
	</div>
	<div class="widget_area">
		<div class="widget_persons">
			<div data-ng-repeat="person in widget.fields.person" class="widget_person widget_person__pictured" data-ng-show="person.text">
				<div class="widget_person_picture"><widget-img img="person.img" data-size="{{CONST.IMG_SIZE_SMALL}}"></widget-img></div>
				<div class="widget_person_text" data-ng-bind-html-unsafe="person.text|parseTextField:widget.attach"></div>
				<widget-fieldset class="results">
					<div class="fake_radio" data-ng-repeat="i in [0,1,2,3,4]"><div data-ng-show="!! person.result[i]"></div><span>&nbsp;</span></div>
				</widget-fieldset>
			</div>
		</div>
	</div>
</div>